# For Script
OPENAI_API_KEY=

# For API Endpoints
ALLOWED_ORIGIN=http://localhost:3000,http://localhost:4000
FREE_MODEL_JSON=[{"name":"DeepSeek R1", "model":"deepseek-reasoner", "baseURL":"https://api.deepseek.com", "apiKey":"sk-or-v1-68b621..."}, {...}]
